{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
</head>
<body class="h-screen bg-white dark:bg-midnight">
    {{ template "body" . }}
</body>
</html>
{{ end }}
