{{ define "body" }}
<!-- TODO: move -->
<!-- d3.js -->
<script src="/static/cloud.js"></script>
<script src="/static/d3.v4.min.js"></script>
<script src="/static/d3.layout.cloud.min.js"></script>

<main class="flex flex-col gap-y-4 justify-center items-center h-screen" hx-ext="ws" ws-connect="/ws/{{ .CloudID }}">
    {{ template "tags" .Tags }}
    <form ws-send hx-on::ws-after-send="this.reset()">
        <input
            class="dark:text-font bg-white hover:bg-font dark:bg-primary dark:hover:bg-seconary border-font dark:border-tertiary border px-2 py-1"
            type="text" name="tag" placeholder="What's on your mind?" required>
        <input type="hidden" name="cloudId" value="{{ .CloudID }}">
        <button
            class="dark:text-font bg-white hover:bg-font dark:bg-primary dark:hover:bg-seconary border-font dark:border-tertiary border px-2 py-1"
            type="submit" hx-target="#tags">
            Submit
        </button>
    </form>
</main>

{{ end }}
