{{ define "head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/static/manifest.json">
<link href="/static/output.css" rel="stylesheet">

<!-- htmx -->
<script src="/static/htmx.min.js"></script>
<script src="/static/ext/json-enc.js"></script>
<script src="/static/ext/ws.js"></script>
{{ end }}
